{% extends "gameplay/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}New Invitation{% endblock %}
{% block heading %}Tictactoe Home{% endblock %}
{% block links %}
    <link href="{% static 'gameplay/css/materialize.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <form method="post" action="{% url "player_invite" %}">
        {% csrf_token %}
        {#        {{ form | crispy }}#}
        <div class="fieldWrapper">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <div class="input-field col s12">
            <table class="highlight">
                {% for error in form.tuser.errors %}
                    <tr>
                        <td>
                            <strong>{{ error|escape }}</strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>
                        <label for="{{ form.tuser.id_for_label }}">To User:</label>
                    </th>
                    <td>
                        {{ form.tuser }}
                    </td>
                </tr>
                {% for error in form.message.errors %}
                    <tr>
                        <td>
                            <strong>{{ error|escape }}</strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>
                        <label for="{{ form.message.id_for_label }}">Message:</label>
                    </th>
                    <td>
                        {{ form.message }}
                    </td>
                </tr>
            </table>
        </div>
        <button class="waves-effect waves-light waves-teal btn-small" type="submit" name="action">Send
            <i class="material-icons left"></i>
        </button>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
{% endblock %}