<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input type="radio" id=”benefit” name=”statMutChildSup” value=”statMutChildSup”>
    <label for=”statMutChildSup”> Statutory Mutual Child Support</label>

    <label for="abc" style="margin-top:-20px;margin-left:40px">xyz</label>
    <input type="radio" id="abc" name="abc">
    <label for="bcd" style="margin-top:-20px;margin-left:40px">abc</label>
    <input type="radio" id="bcd" name="abc">
    <label for="efg" style="margin-top:-20px;margin-left:40px">ccc</label>
    <input type="radio" id="efg" name="abc">
</form>
</body>
</html>